
tml,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 14px;
    background: #000;
  }
  .navbar.is-white {
    /*background: #F0F2F4;*/
  }
  .navbar-brand .brand-text {
    font-size: 1.11rem;
    font-weight: bold;
  }
  /*
  .hero-body
  {background-image: url(/images/hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  }
  */
  .articles .content p {
      line-height: 1.9;
      margin: 15px 0;
  }
  .author-image {
      position: absolute;
      top: -30px;
      left: 50%;
      width: 60px;
      height: 60px;
      margin-left: -30px;
      border: 3px solid #ccc;
      border-radius: 50%;
  }

  .media-center {
    display: block;
    margin-bottom: 1rem;
  }

  .media-content {
    /*margin-top: 3rem;*/
  }

  .article, .promo-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  div.column.is-8:first-child {
    padding-top: 0;
    margin-top: 0;
  }
  .article-title {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 2;
  }
  .article-subtitle {
    margin-bottom: 20px !important;
    margin-top: 20px;
  }
  .article-body {
    line-height: 1.4;
  }
  .promo-block .container {
    margin: 1rem 5rem;
  }
  .tombstone {
    margin-bottom: 2em;
    margin-top: 2em;
  }
  .summary-block {
    margin-top: 2em;
    margin-bottom: 2em;
    padding: .5em
  }

  .articles a,
  .masthead a {
    color: #48c774;
  }

  .articles a:hover,
  .masthead a:hover {
    color: #3fa9da;
  }
  
  .story-wrapper {
    margin-top: 2em;
  }

  .selfie {
    max-width: 300px;
  }

  .selfie-box {
    justify-content: center;
  }

  .masthead {
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .masthead-divider {
    background-color: #f14668;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .latest-border {
    padding-right: 10px;
  }
